In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import h5pyd
import rex

In [2]:
variables = ['significant_wave_height', 'peak_period']
path='/Users/nataliagonzalez/Documents/UCSD PhD/2022/Research 2022/Wave Energy/RM6_Power_Matrix_SAM_CSV.csv'
p_matrix = pd.read_csv(path, index_col=None)
pathAPI = '/nrel/US_wave/West_Coast/West_Coast_wave_2006.h5'

with h5pyd.File(pathAPI, mode='r') as f:
    # Extract time_index and convert to datetime
   #  time_index = pd.to_datetime(f['time_index'][...].astype(str))
    # Initialize DataFrame to store time-series data
   #  time_series = pd.DataFrame(index=[time_index])
    # Extract wave height, direction, and period
    new_cols = []

    coordinates = pd.DataFrame(f['coordinates'][...].astype(str))

   #  for var in variables:
   #   # Get dataset
   #   ds = f[var]
     # Extract scale factor
     #scale_factor = ds.attrs['scale_factor']
        # Extract site 100 and add to DataFrame
   #   time_series[var] = ds[:, 0]

   #   new_name = var + '_' + ds.attrs['units']

   #   new_cols.append(new_name)

# time_series.columns = new_cols
coordinates = coordinates.rename(columns={0: "lat", 1: "lon"})
coordinates

            lat       lon
0       48.8641  -125.386
1       48.8418  -125.446
2       48.8193  -125.504
3       48.7972  -125.563
4        48.774  -125.622
...         ...       ...
699899  37.4632  -122.027
699900  37.4617  -122.027
699901  37.4631  -122.026
699902  37.4615  -122.026
699903  37.4614  -122.025

[699904 rows x 2 columns]

In [5]:
coordinates = pd.DataFrame(coordinates)
coordinates = coordinates.rename(columns={0: 'lat', 1: 'lon'})
coordinates['loc_id'] = range(0,699904)
first_col = coordinates.pop('loc_id')
coordinates.insert(0,'loc_id',first_col)
path = '/Users/nataliagonzalez/Documents/UCSD PhD/2022/Research 2022/Wave Energy/syn_loc_coordinates.csv'
coordinates.to_csv(path, index=False)